<form hx-post="/create-user-form" hx-ext='json-enc'>
    <input type="text" name="first_name">
    <input type="email" name="email">
    <input type="password" name="password">
    <button>Create</button>
</form>
