<form hx-post="/create-user-form" hx-ext='json-enc'>
    <input type="text" name="first_name" class="bg-indigo-500 border-2">
    <input type="email" name="email" class="bg-indigo-500 border-2">
    <input type="password" name="password" class="bg-indigo-500 border-2">
    <button>Create</button>
</form>
